# Copy to backend/.env (local) OR add these in your hosting "Environment Variables" panel.
MONGODB_URI=mongodb+srv://abcautismbehaviouralcenter_db_user:ABCautismbehavioralcenter@cluster0.rvhbq3s.mongodb.net/abcautism?retryWrites=true&w=majority
JWT_SECRET=800416361a104ef504268da60f5f9edc92a8a53a10d9511961d3528d06c7851a
FRONTEND_URL=https://abcautismbehavioralcenter.com
ADMIN_PHONE=03059804409
ADMIN_PASSWORD=Bilal786@#$@#$
EMAIL_USER=aapki-gmail@gmail.com
EMAIL_PASS=gmail-app-password
OWNER_EMAIL=jis-email-par-notification-chahiye
